<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="C:\Users\vadim_blagoveshensk\source\repos\pr33_2\pr33_2\wwwroot\css\Style.css"/>
    <title>@ViewBag.Title</title>
    
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
