<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/Style.css" runat="server"/>
    <title>@ViewBag.Title</title>
    
</head>
<body>
    <div class="header">
        <img src="~/img/puzzle-piece.png" />
        <input class="search" placeholder="поиск по сайту"/>
        <img class="basket" src="~/img/basketball.png" />
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
